/* main {
    margin: 3%;
} */

.border {
    border: 1px solid #dee2e6 !important;
    width: 80%;
    margin-left: 10%;
    /* padding-left: 8%;
	padding-right: 8%; */
    padding-bottom: 3%;
    margin-bottom: 3%;
    border-radius: 10px;
    text-align: left;
}

.main-content {
    margin-top: 3%;
    /* margin-left: 3%;
	float: left; */
    margin-left: auto;
    margin-right: auto;
    /* display: inline-block; */
    border: 2px solid black;
    width: 80%;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0 2.3px 4.7px rgba(0, 0, 0, 0.037), 0 6.4px 11px rgba(0, 0, 0, 0.062), 0 15.4px 22.4px rgba(0, 0, 0, 0.081), 0 51px 112px rgba(0, 0, 0, 0.11);
}

.main-content i{
    color: #ff0000 !important;
}

aside {
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    /* height: 150px; */
    /* display: inline-block; */
    border: 2px solid black;
    width: 80%;
    padding: 1.9%;
    border-radius: 10px;
    box-shadow: 0 2.3px 4.7px rgba(0, 0, 0, 0.037), 0 6.4px 11px rgba(0, 0, 0, 0.062), 0 15.4px 22.4px rgba(0, 0, 0, 0.081), 0 51px 112px rgba(0, 0, 0, 0.11);
}

main aside h3 {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 33%, rgba(0, 212, 255, 1) 100%);
    color: #ffffff;
    padding-left: 10px;
}


/* .main-content a {
    color: black;
    font-weight: bolder;
}
*/

.main-content a {
    text-decoration: none;
    position: relative;
    color: black;
    font-weight: bolder;
}

.main-content a:hover {
    color: #1768AC;
}

.main-content a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 2px solid #1768AC;
    transition: 0.4s;
}

.main-content a:hover:after {
    width: 100%;
}

.links {
    text-decoration: none;
    position: relative;
    color: black;
    font-weight: bolder;
}

.links:hover {
    text-decoration: none;
    color: #1768AC;
}

.links:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 2px solid #1768AC;
    transition: 0.4s;
}

.links:hover:after {
    width: 100%;
}

@media all and (max-width: 800px) {
    .border {
        width: 90%;
        margin-left: 5%;
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .main-content {
        width: 80%;
    }
    aside {
        width: 80%;
    }
}
